// Specific CSS for your home-page
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.h1{
  font-family: 'Droid Serif';
  font-size: 40px;
  font-style: bold;
}
