<div class="product-card">
    <%= cl_image_tag product.photo %>
    <div class="card-content">
      <h2><%=  product.name %></h2>
      <p><%= product.category %></p>
      <p><%= product.description %></p>
    </div>
  </div>
