<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><%= image_tag "124010.png", width: 30, heihgt: 30 %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link ml-4" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
     <a class="navbar-brand ml-5" href="#"><%= image_tag "124010.png", width: 30, heihgt: 30%></a>
    </ul>

    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="avatar"
            alt="avatar image" height="35">
  </div>
</nav>
