<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path do %>
    <%= image_tag "124010.png", width: 30, heihgt: 30 %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link ml-4 mt-1" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <%= link_to root_path do %>
        <i class="fab fa-twitter "></i>
      <% end %>
    </ul>

    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="avatar"
            alt="avatar image" height="35">
  </div>
</nav>
