
<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div id="landing-effect-text">Book all you need |</div>
        <div id="landing-effect-text"><span>For your party</span></div>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
       <%= render "shared/searcher" %>
      </div>
    </div>
  </div>
</header>


<h1 class="my-5 text-center"><strong>Wellcome to IBIZA</strong></h1>




<h2 class="my-4 text-center">Most recently uploads</h2>


<div class="cards">
  <% @products.each do |product| %>
  <%= link_to product_path(product) do %>
  <%= render 'shared/cards', product: product  %>
  <% end %>
  <% end %>
</div>

