.banner2 {
  text-align: center;
  margin: 0px 0 20px 0;
  font-size:4em;
  color:black;
  background-color: black;

}

.banner2>p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 12s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*Neon*/
// .banner p {
//   text-align: center;
//   font-size: 4em;
//   margin: 20px 0 20px 0;
// }

// .banner a {
//   text-decoration: none;
//   -webkit-transition: all 0.5s;
//   -moz-transition: all 0.5s;
//   transition: all 0.5s;
// }

// .banner p:nth-child(1) a {
//   color: #fff;
//   font-family: Monoton;
//   -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
//   -moz-animation: neon1 1.5s ease-in-out infinite alternate;
//   animation: neon1 1.5s ease-in-out infinite alternate;
// }

// .banner p:nth-child(1) a:hover {
//   color: #0032FF;
//   -webkit-animation: none;
//   -moz-animation: none;
//   animation: none;
// }


// .banner p a:hover {
//   color: #ffffff;
// }
/*glow for webkit*/

// @-webkit-keyframes neon1 {
//   from {
//     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0032FF, 0 0 70px #0032FF, 0 0 80px #0032FF, 0 0 100px #0032FF, 0 0 150px #0032FF;
//   }
//   to {
//     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0032FF, 0 0 35px #0032FF, 0 0 40px #0032FF, 0 0 50px #0032FF, 0 0 75px #0032FF;
//   }
// }

// /*glow for mozilla*/

// @-moz-keyframes neon1 {
//   from {
//     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0032FF, 0 0 70px #0032FF, 0 0 80px #0032FF, 0 0 100px #0032FF, 0 0 150px #0032FF;
//   }
//   to {
//     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0032FF, 0 0 35px #0032FF, 0 0 40px #0032FF, 0 0 50px #0032FF, 0 0 75px #0032FF;
//   }
// }

// /*glow*/

// @keyframes neon1 {
//   from {
//     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0032FF, 0 0 70px #0032FF, 0 0 80px #0032FF, 0 0 100px #0032FF, 0 0 150px #0032FF;
//   }
//   to {
//     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0032FF, 0 0 35px #0032FF, 0 0 40px #0032FF, 0 0 50px #0032FF, 0 0 75px #0032FF;
//   }
// }

/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}
