<div class="container">
<!-- una card -->
  <div class="row justify-content-center">
    <div class="">
      <div class="cards">
        <% @products.each do |product|  %>

        <div class="card-product" >
          <%= cl_image_tag product.photo, class: "card-img-top"%>
          <div class="product-body">
             <h2><%= product.name %></h2>
            <h2><%= product.price %></h2>
            <p><%= product.description %> </p>
          </div>
        </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>


