<div class="container">
<!-- una card -->
  <div class="card-trip m-3">
    <img src="https://source.unsplash.com/collection/1163637/512x300" />
    <div class="card-trip-infos">
      <div class="m-3">
        <h2>Product name here!</h2>
        <p>Category here!</p>
      </div>
      <div class="m-3">
        <p>Long description here! Long description here! Long description here! Long description here!</p>
        <p>Palermo soho, paraguay al 2300 CABA</p>
      </div>
      <div class="d-flex m-3 align-items-center">
        <a href="#" class="btn btn-primary btn-lg px-4">View</a>
      </div>
      <div>
        <h2 class="align-self-end">$99.99</h2>
        <p>for 3 days</p>
      </div>
      <img src="https://source.unsplash.com/collection/2013520/200x200" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>
