<div class="container">
<!-- una card -->
  <div class="row justify-content-center">
    <div class="">
      <div class="cards">
       <% @products.each do |product| %>
         <%= link_to product_path(product) do %>
           <%= render 'shared/cards', product: product  %>
         <% end %>
       <% end %>
      </div>
    </div>
  </div>
</div>

